/* Reset some default browser styles */
body, h1, h2, p, ul, li, label, input, textarea, button {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the contact information section */
.contact-info {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding-left: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

/* Style the contact form section */
.contact-form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
   width: 100%;
  padding: 10px;
  margin: 5px 5px 22px 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

.contact-form textarea {
    resize: vertical;
}

.form-button {
    display: flex;
    justify-content: space-between;
}

.clear-button,
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.clear-button {
    background-color: #ccc;
}

.submit-button {
    background-color: #5CBFAF;
    color: #fff;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}